body {
    background-color: #2a302a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 50vh;
}
.box {
    width: 1850px; height: 70px; 
    background-color: rgb(21, 32, 19);
    opacity: 0.9;
}
.лого {
    position: absolute;
    top: 1.5%;
    left: 0.6%;
    border-radius: 10%;
}
.кнопкакопи {
    position: absolute;
    left: 47.5%;
    top:  15%;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(3, 95, 0);
    box-shadow: rgd(0 0 0 / 5%);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
    
.копп {
    position: absolute;
    left: 47%;
    top: 10%;
    display: none;
}
.кнопкакопи:hover {
     letter-spacing: 4px;
    background-color: rgb(45, 87, 44);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(30, 208, 240);

}
.кнопкакопи:active {
    letter-spacing: 3px;
    background-color: rgb(18, 77, 23);
    color: hsl(hue, saturation, lightness);
    box-shadow: rgb(red, green, blue);
    transform: translateY(10px);
    transition: 110ms;
}
.skopirovat {
    font-size: 20px;
    position: absolute;
    left: 45%;
    top: 8%;
    background-color: #308d30;
    box-shadow: #000000;
}
.ckoro {
    color: #4a8d4a;
    position: absolute;
    bottom: 10%;
    left: 40%;
    background-color: #000000;
    border-radius: 6%;
    font-size: 50px;
    background-size: 100px;
}
.square {
    width: 1840px; height: 400px; 
    background-color: rgb(10, 41, 4);
    
    position: absolute;
    top: 30%;
    left: 1%;
    border-radius: 50px;
    box-shadow: 0 0 5px 5px  #001804 ;
}
.prefix1 {
    width: 355px;
    height: 355px;
    background: #129439;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 1000px;
    position: absolute;
    top: 32%;
    left: 2%;
    box-shadow: 0 0 5px 5px #000000;
}
.prefix1txt {
    position: absolute;
    top: 32%;
    left: 8.5%;
    color:#1a1d1a;
}
.prefix1txt-1 {
    position: absolute;
    top: 38%;
    left:4.5%;
}
.prefix1txt-2 {
    position: absolute;
    top: 42%;
    left:6%;
}
.prefix1txt-3 {
    position: absolute;
    top: 46%;
    left: 4.5%;
}
.prefxs {
     width: 100;
    height: 10;
    border-top: 400px solid #0e6b0e;
    border-left: 800px solid transparent;
    border-right: 800px solid transparent;
    position: absolute;
    top: 23%;
    left: 6.5%;
    
    
}
.prefxstxt {
    position: absolute;
    left: 45%;
    top: 22%;
}
.prefix2 {
    width: 355px;
    height: 355px;
    background: #129439;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 1000px;
    position: absolute;
    top: 32%;
    right: 2%;
    box-shadow: 0 0 5px 5px #000000;
}
.prefix2txt {
    position: absolute;
    top: 32%;
    right: 8.5%;
    color:#1a1d1a;
}
.prefix2txt-1 {
    position: absolute;
    top: 38%;
    right:8%;

}
.prefix2txt-2 {
    position: absolute;
    top: 42%;
    right:9%;
}
.prefxs3 {
    width: 355px;
    height: 355px;
    background: #129439;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 1000px;
    position: absolute;
    top: 32%;
    right: 41.5%;
    box-shadow: 0 0 5px 5px #000000;

}
.prefix3txt {
    position: absolute;
    top: 32%;
    right: 49.2%;
    color:#1a1d1a;
}
.prefix3txt-1 {
     position: absolute;
    top: 38%;
    right:48.6%;
}
.prefix3txt-2 {
    position: absolute;
    top: 42%;
    right:43%;
}
.prefix3txt-3 {
    position: absolute;
    top: 46%;
    right: 44.5%;
}